@import './reset';
@import './variable';

@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}

.navbar {
    max-width: 76.875rem;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    background-color: $primary-color;

    @include medium{
        max-width: 55rem;
        justify-content: space-between;
    }
    @include mobile{
        width: 100%;
        justify-content: space-between;
    }
}
.nav_leftGroup{
    width: 73%;
    font-family: $font-family;
    font-weight: weight(medium);
    display: flex;
    justify-content: center;
    align-items: center;
    .more{
        display: none;
    }
    div{
        cursor: pointer;
        margin-right: 2rem;
    }
    .bar_list {
        display: none;
    }
    @include medium {
        &{
            width: 50%;
            justify-content: flex-start;
        }
        .bar_list {
            display: none;
        }
        .support {
            display: none;
        }
        .community {
            display: none;
        }
        .dev_tool {
            display: none;
        }
        .more{
            display: block;
        }
    }
    @include mobile {
        &{
            width: 60%;
            justify-content: flex-start;
        }
        .logo{
            margin-right: 1.5rem;
        }
        .bar_list{
            display: block;
            font-size: $icon-size;
            color: $icon-color;
        }
        .products {
            display: none;
        }
        .solutions {
            display: none;
        }
        .learning{
            display: none;
        }
        .support {
            display: none;
        }
        .community {
            display: none;
        }
        .dev_tool {
            display: none;
        }
        .more{
            display: none;
        }
    }
}
.nav_rightGroup{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div{
        cursor: pointer;
        margin-right: 0.25rem;
    }
    div:first-child{
        margin-right: 1.2rem;
    }
    .start_btn {
        width: 120px;
        height: $btn-height;
        background-color: $btn-bgcolor;
        color: $btn-color;
        border-radius: $btn-angle;
        font-size: $font-size;
        font-weight: weight(bold);
        font-family: $font-family;
        text-align: $btn-horizon;
        line-height: $btn-vertical;
        padding: $btn-padding;
        cursor: pointer;
        transition: .5s;
        &:hover{
            background-color: $btn-hover;
        }
    }
    @include medium {
        &{
            width: auto;
        }
    }
    @include mobile {
        &{
            width: auto;
        }
        .start_btn{
            display: none;
        }
    }
}
.nav_search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s;
    text-align: center;
    line-height: 40px;
    &:hover{
        background-color: rgba(218, 216, 216, 0.426);
    }
    i{
        font-size: $icon-size;
        color: $icon-color;
    }
}
.nav_grid {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .5s;
    text-align: center;
    line-height: 40px;
    &:hover{
        background-color: rgba(218, 216, 216, 0.426);
    }
    i{
        font-size: $icon-size;
        color: $icon-color;
    }
}
.nav_user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .25s;
    text-align: center;
    line-height: 40px;
    &:hover{
        background-color: rgba(218, 216, 216, 0.426);
    }
    i{
        font-size: $icon-size;
        color: $icon-color;
    }
}
.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    .banner_pic{
        background-image: url(../img/Unity_KeyArt21_04-blur.jpg);
        padding-top: 8.5rem;
        padding-bottom: 8rem;
        @include mobile{
        padding-top: 0;
        padding-bottom: 3rem;
        background-size: cover;
        background-position: 50% 0;
        }
        &::before{
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(21, 21, 21, 0.549);
        }
    }
    .banner_textArea {
        max-width: 76.875rem;
        position: relative;
        z-index: 5;
        max-width: 1230px;
        margin: 50px auto;
        margin-bottom: 5rem;
        padding: 15px 15px;
        @include medium{
            max-width: 975px;
        }
        @include pad {
            max-width: 750px;
        }
        @include mobile{
            width: 100%;
            padding: 0;
        }
        .banner_text1{
            width: 60%;
            @include mobile{
                width: 100%;
                margin: 0 auto;
            }
        }
        .ps{
            font-size: 0.75rem;
            color: $primary-color;
            font-weight: weight(bold);
            font-family: $font-family;
            @include mobile{
                font-size: 0.8rem;
                width: 90%;
                padding: 1rem 0;
                margin: 0 auto;
            }
        }
        .title{
            font-size: 4.3rem;
            color: $primary-color;
            font-weight: weight(bold);
            font-family: $font-family;
            line-height: 100%;
            margin: 2rem 0;
            @include mobile{
                font-size: 3.5rem;
                width: 90%;
                margin: 0 auto;
                margin-bottom: 2.5rem
            }
        }
        .banner_link{
            @include button (180px);
            @include mobile{
                text-align: center;
                width: 90%;
                margin: 1.5rem auto;
            }
        }
    }
}
.intro{
    max-width: 76.875rem;
    font-size: 2.5rem;
    font-weight: weight(bold);
    font-family: $font-family;
    margin: 2.5rem auto;
    @include mobile{
        width: 100%;
    }
    .intro_title{
        margin-bottom: 2.5rem;
        font-size: 2.5rem;
        @include pad{
            font-size: 2.1rem;
            text-align: center;
        }
    }
    .intro_carousel{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        @include pad {
            flex-wrap: wrap;
        }
        .carousel{
            width: 20%;
            box-shadow: 0 5px 10px 0 rgba(189, 188, 188, 0.672);
            padding-bottom: 1.5rem;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            @include pad{
                width: 90%;
                margin: 1rem auto;
            }
            .carousel_title{
                padding-left: 35px;
                padding-right: 35px;
                margin-top: 1.5rem;
                font-size: 1.5rem;
                font-weight: weight(bold);
            }
            .carousel_profile{
                font-size: 1rem;
                padding-left: 35px;
                padding-right: 35px;
                font-weight: weight(regular);
            }
            .carousel_pic {
                overflow: hidden;
                border-radius: 5px;
            }
            .carousel_pic img{
                width: 100%;
                height: auto;
            }
            .carousel_link{
                font-size: 1rem;
                color: rgb(33, 139, 253);
                margin-top: 1rem;
                padding-left: 35px;
                padding-right: 35px;
                font-weight: weight(bold);
                cursor: pointer;
            }
        }
    }
}
.goal_area {
    width: 90%;
    margin: 5rem auto;
    padding: 10px 30px;
    background-color: rgba(206, 203, 203, 0.35);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include pad {
        flex-direction: column;
        height: 200px;
        justify-content: space-evenly;
    }
    @include mobile {
        width: 100%;
        padding: 10px 10px;
        padding-left: 20px;
    }
    .goal{
        display: flex;
        align-items: center;
        width: 33%;
        margin-right: 1rem;
        @include pad {
            width: 50%;
        }
        @include mobile {
            width: 100%;
        }
    }
}
.goal_icon {
    color: rgb(39, 196, 39);
    float: left;
    margin-right: 1rem;
    @include pad {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 7px;
        background-color: white;
        text-align: center;
    }
}
.goal_text{
    letter-spacing: 0.5px;
    line-height: 1.25rem;
    @include mobile {
        font-size: 0.85rem;
    }
    .emphasize{
        font-weight: weight(bold);
    }
}
.intro_products{
    max-width: 76.875rem;
    font-size: 2.5rem;
    font-weight: weight(bold);
    font-family: $font-family;
    margin: 5rem auto;
    @include mobile{
        width: 100%;
        padding: 0 10px;
    }
    .intro_title_products{
        margin-bottom: 2.5rem;
        font-size: 2.5rem;
        @include pad{
            font-size: 2.1rem;
            text-align: center;
        }
        @include mobile{
            text-align: left;
        }
    }
    .intro_carousel_products{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include pad {
            flex-wrap: wrap;
        }
        .carousel_products{
            position: relative;
            width: 49%;
            box-shadow: 0 5px 10px 0 rgba(189, 188, 188, 0.672);
            padding-bottom: 1.5rem;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            @include pad{
                width: 80%;
                margin: 1rem auto;
            }
            @include mobile{
                width: 95%;
                margin: 1rem auto;
            }
            .carousel_title{
                padding-left: 40px;
                padding-right: 40px;
                margin-top: 1.5rem;
                font-size: 1.5rem;
                font-weight: weight(bold);
            }
            .carousel_profile{
                font-size: 1rem;
                padding-left: 40px;
                padding-right: 40px;
                margin-top: 0.5rem;
                margin-bottom: 2.5rem;
                font-weight: weight(regular);
            }
            .carousel_pic {
                overflow: hidden;
                border-radius: 5px;
            }
            .carousel_pic img{
                width: 100%;
                height: auto;
            }
            .link_products{
                position: absolute;
                bottom: 30px;
            }
            .carousel_products_link{
                float: left;
                font-size: 1rem;
                color: rgb(33, 139, 253);
                margin-top: 1rem;
                padding-left: 40px;
                font-weight: weight(bold);
                cursor: pointer;
            }
        }
    }
}
.blog_section{
    @include mobile{
        padding: 0 15px;
    }
}
.blog_container{
    max-width: 1230px;
    margin: 100px auto;
    margin-bottom: 6rem;
    padding: 15px 15px;
    @include medium{
        max-width: 975px;
    }
    @include pad {
        max-width: 750px;
    }
    @include mobile{
        width: 100%;
        padding: 0;
        margin: 15px auto;
    }
    .blog_topArea{
        width: 55%;
        @include pad {
            width: 100%;
        }
    }
    .blog_group{
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        @include pad{
            flex-direction: column;
        }
        .blog_card{
            width: 22%;
            height: 200px;
            position: relative;
            @include pad {
                width: 100%;
            }
        }
    }
}
.blog_title{
    font-size: 3.5rem;
    font-weight: weight(bold);
    line-height: 4rem;
    @include pad {
        font-size: 2.5rem;
    }
}
.blog_profile{
    margin-top: 2rem;
    font-size: 1.4rem;
    @include pad{
        font-size: 1.2rem;
    }
}
.blog_btn{
    @include button(150px);
    margin-top: 1.5rem;
    height: 50px;
    line-height: 40px;
}
.blog_group_title{
    font-size: 1.5rem;
    font-weight: weight(medium);
}
.blog_group_profile{
    font-weight: weight(regular);
}
.blog_group_link{
    font-weight: weight(bold);
    color: rgb(33, 139, 253);
    position: absolute;
    bottom: 0;
    @include pad{
        position: static;
        margin-top: 1rem;
    }
}
.latest_section{
    @include mobile{
        padding: 0 15px;
    }
}
.latest_container{
    max-width: 1230px;
    margin: 100px auto;
    margin-bottom: 10rem;
    padding: 15px 15px;
    @include medium{
        max-width: 975px;
    }
    @include pad {
        max-width: 750px;
    }
    @include mobile{
        width: 100%;
        padding: 0;
        margin: 100px auto;
    }
}
.latest_title{
    font-size: 2.5rem;
    font-weight: weight(bold);
    @include mobile{
        font-size: 2.2rem;
    }
}
.latest_picflex{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mobile{
        margin-top: 0.5rem;
    }
    .latest_main{
        position: relative;
        border-radius: 5px;
        background: linear-gradient(to Left , rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../img/unityxweta-promo.jpg) no-repeat;
        background-size: cover;
        width: 65%;
        height: 450px;
        transition: 1s ease-in-out;
        cursor: pointer;
        @include medium{
            height: 370px;
        }
        @include pad{
            width: 100%;
            height: 450px;
        }
        @include mobile{
            width: 100%;
            height: 150px;
        }
    }
    .latest_group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 4rem;
        @include pad{
            margin-top: 2rem;
        }
    }
}
.latest_card{
    width: 32%;
    display: flex;
    @include mobile{
        width: 100%;
        margin-bottom: 2rem;
    }
    .latest_pic{
        border-radius: 5px;
        overflow: hidden;
        margin-right: 1rem;
        @include medium{
            display: none;
        }
    }
    .latest_text{
        width: 65%;
        @include medium{
            width: 100%;
        }
        .latest_text_title{
            font-size: 1.05rem;
            font-weight: weight(bold);
        }
        .latest_text_profile{
            font-size: 0.9rem;
            line-height: 1.2rem;
            font-weight: weight(regular);
            margin-top: 0.5rem;
        }
        @include mobile{
            font-size: 0.5rem;
        }
    }
}
.mainBanner_text{
    position: absolute;
    left: 45px;
    bottom: 45px;
    @include pad {
        left: 20px;
        bottom: 20px;
    }
    .latest_main_title{
        color: white;
        font-size: 2.5rem;
        font-weight: weight(bold);
        @include pad {
            font-size: 2rem;
        }
    }
    .latest_main_profile{
        color: white;
        font-size: 1.2rem;
        font-weight: weight(medium);
        margin-top: 0.5rem;
        @include pad {
            font-size: 1rem;
            margin-top: 0.3rem;
        }
        @include mobile{
            display: none;
        }
    }
}
.latest_second{
    width: 31%;
    @include pad{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
    @include mobile{
        margin-top: 0rem;
    }
    .momentum_banner{
        border-radius: 5px;
        height: 210px;
        position: relative;
        padding-left: 15px;
        background: linear-gradient(to Left , rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../img/mm-homepage-banner.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        @include medium{
            height: 170px;
        }
        @include pad{
            width: 49%;
            height: 210px;
        }
        @include mobile{
            width: 100%;
            height: 150px;
            margin-top: 1rem;
            background-position: 0% 50%;
        }
    }
    .stream_banner{
        border-radius: 5px;
        height: 210px;
        margin-top: 30px;
        position: relative;
        padding-left: 15px;
        background: linear-gradient(to Left , rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../img/smangiat-splash-full.jpg) no-repeat;
        background-size: cover;
        background-position: 0% 100%;
        @include medium{
            height: 170px;
        }
        @include pad{
            width: 49%;
            height: 210px;
            margin-top: 0;
        }
        @include mobile{
            width: 100%;
            height: 150px;
            margin-top: 1rem;
            background-position: 0% 50%;
        }
    }
}
.banner_text{
    width: 90%;
    position: absolute;
    left: 20px;
    bottom: 25px;
    .latest_second_title{
        color: white;
        font-size: 1.5rem;
        font-weight: weight(bold);
        line-height: 2rem;
        @include pad {
            font-size: 1.2rem;
        }
        @include mobile{
            font-size: 1.5rem;
        }
    }
    .latest_second_profile{
        margin-top: 0.5rem;
        color: white;
        font-weight: weight(medium);
        @include pad {
            font-size: 0.9rem;
        }
        @include mobile{
            display: none;
        }
    }
}
.stories_container{
    background:url(../img/pharos-ar-made-with-unity.jpg) no-repeat;
    padding: 90px 15px;
    width: 100%;
    @include mobile{
        padding: 30px 15px;
    }
}
.stories_card {
    max-width: 1230px;
    margin: 50px auto;
    margin-bottom: 3rem;
    padding: 15px 15px;
    @include medium{
        max-width: 975px;
    }
    @include pad {
        max-width: 750px;
    }
    @include mobile{
        width: 100%;
        padding: 0;
        margin: 15px auto;
    }
    .stories_title{
        margin-top: 3rem;
        font-size: 2.5rem;
        font-weight: weight(bold);
        color: white;
    }
    .stories_profile{
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: weight(medium);
        color: white;
    }
    .stories_btn{
        margin-top: 3rem;
        @include button(120px);
    }
    .stories_group{
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        @include mobile {
            margin-top: 2rem;
        }
        .stories_left{
            border-radius: 5px;
            padding: 15px 15px;
            width: 25%;
            height: 300px;
            border: 4px solid white;
            @include medium{
                width: 31%;
                height: 280px;
            }
            @include mobile {
                display: none;
            }
        }
        .stories_mid{
            border-radius: 5px;
            padding: 15px 15px;
            width: 25%;
            height: 300px;
            border: 4px solid white;
            @include medium{
                width: 31%;
                height: 280px;                                          
            }
            @include mobile {
                width: 100%;
                height: 230px;  
            }
        }
        .stories_right{
            border-radius: 5px;
            padding: 15px 15px;
            width: 25%;
            height: 300px;
            border: 4px solid white;
            @include medium{
                width: 31%;
                height: 280px;
            }
            @include mobile {
                display: none;
            }
        }
    }
    .page_area {
        display: none;
        @include mobile{
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 30px;
            .page_ul{
                display: flex;
                justify-content: center;
                list-style: none;
                li{
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background-color: rgba(177, 177, 177, 0.699);
                    margin-right: 0.5rem;
                }
            }
        }
    }
}
.stories_group_title{
    font-size: 1.5rem;
    font-weight: weight(bold);
    line-height: 2rem;
    color: white;
}
.stories_group_profile{
    font-size: 1rem;
    color: white;
}
.hire_section{
    @include mobile{
        padding: 0 15px;
    }
}
.hire_container{
    max-width: 1230px;
    margin: 50px auto;
    margin-bottom: 5rem;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    @include medium{
        max-width: 975px;
    }
    @include pad {
        max-width: 750px;
    }
    @include mobile{
        width: 100%;
        padding: 0;
        flex-direction: column-reverse;
    }
}
.hire_card {
    width: 45%;
    @include mobile {
        width: 100%;
    }
    .hire_title{
        font-size: 2.5rem;
        font-weight: weight(bold);
        line-height: 3rem;
        @include pad {
            font-size: 2rem;
        }
        @include mobile {
            margin-top: 2rem;
        }
    }
    .hire_profile{
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: weight(medium);
    }
    .hire_btn{
        margin-top: 2.5rem;
        @include button(120px);
    }
}
.hire_pic {
    width: 46%;
    @include pad {
        width: 48%;
    }
    @include mobile{
        width: 100%;
    }
    img{
        width: 100%;
        height: auto;
    }
}
.platforms_section{
    @include mobile{
        padding: 0 15px;
    }
}
.platform_card{
    max-width: 1230px;
    margin: 50px auto;
    padding: 15px 15px;
    @include medium{
        max-width: 975px;
    }
    @include pad {
        max-width: 750px;
    }
    @include mobile{
        width: 100%;
        padding: 0;
    }
    .platform_title{
        font-size: 2.5rem;
        font-weight: weight(bold);
    }
    .platform_profile{
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: weight(medium);
    }
    .platform_pics{
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        div{
            cursor: pointer;
            width: 16.666%;
            padding: 0 20px;
            margin-top: 4rem;
            @include mobile{
                width: 49%;
                padding: 0;
            }
            img{
                display: block;
                width: 60%;
                height: auto;
                margin: 0 auto;
                @include pad{
                    width: 90%;
                }
                @include mobile{
                    width: 70%;
                }
            }
        }
    }
}
.contact_section{
    @include mobile{
        padding: 0 15px;
    }
}
.contact_banner{
    max-width: 1230px;
    margin: 50px auto;
    padding: 90px 15px;
    background-image: url(../img/enterprise-callout-2460x1200-2x.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    @include medium{
        max-width: 975px;
    }
    @include pad{
        max-width: 750px;
    }
    @include mobile{
        padding: 50px 15px;
        width: 100%;
    }
}
.contact_card{
    width: 65%;
    margin-left: 8.33333%;
    @include mobile{
        width: 100%;
        margin: 0;
    }
    .contact_title{
        font-size: 2.8rem;
        font-weight: weight(bold);
        color: white;
        line-height: 3.5rem;
        margin-top: 3rem;
        @include mobile{
            margin-top: 0;
        }
    }
    .contact_profile{
        font-size: 1.25rem;
        font-weight: weight(regular);
        color: white;
        margin-top: 1.5rem;
    }
    .contact_btn{
        @include button(120px);
        margin-top: 2.5rem;
        @include mobile{
            width: 100%;
        }
    }
}
.footer_bg{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 80px;
    .footer_container{
        max-width: 1230px;
        margin: 0 auto;
        @include pad {
            max-width: 800px;
        }
        .footer_row{
            display: flex;
            flex-wrap: wrap;
        }
    }
}
.language{
    padding-left: 15px;
    padding-right: 15px;
    @include mobile {
        margin-bottom: 2rem;
    }
    .switch_lang{
        list-style: none;
        margin: 0;
        padding: 0;
        column-count: 5;
        color: rgba(255, 255, 255, 0.623);
        cursor: pointer;
        @include mobile {
            column-count: 3;
            column-gap: 50px;
        }
    }
}
.social{
    margin-left: 16.666666667%;
    @include pad {
        margin-left: 8.333%;
    }
    @include mobile{
        width: 100%;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .social_links{
        margin: 0;
        i{
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.2s;
            margin-right: 1rem;
            color: rgba(255, 255, 255, 0.623);
        }
        .fab.fa-youtube:hover{
            color: white;
        }
        .fab.fa-linkedin-in:hover{
            color: white;
        }
        .fab.fa-twitter:hover{
            color: white;
        }
        .fab.fa-facebook-f:hover{
            color: white;
        }
        .fab.fa-instagram:hover{
            color: white;
        }
    }
}
.top_title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: white;
}
.footer_hr{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    hr{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        background-color: rgba(253, 248, 248, 0.404);

    }
}
.footer_navbar {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav_li{
    width: 16%;
    @include medium {
        width: 33%;
        margin-bottom: 2rem;
    }
    @include pad {
        width: 49%;
        margin-bottom: 2rem;
    }
    span{
        font-size: 1.2rem;
        color: white;
    }
    li{
        list-style: none;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.623);
    }
}
.copyRight_area{
    margin-top: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    .copyright{
        color: white;
    }
    .copyright_link{
        list-style: none;
        display: flex;
        @include mobile {
            flex-wrap: wrap;
        }
        li{
            font-size: 0.9rem;
            margin-right: 1.5rem;
            color: rgba(255, 255, 255, 0.623);
            @include mobile{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
.footer_end{
    font-size: 0.9rem;
    color: white;
    padding-left: 15px;
    width: 50%;
    @include medium{
        width: 45%;
    }
    @include medium{
        padding-right: 15px;
        width: 100%;
    }
}