*{
    margin: 0;
    padding: 0;
}
body{    
    background-color: #6fb613;
    overflow: hidden;
}
.title{
    font-size: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
}
.wrap{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 500px);
    width: 600px;
    height: 400px;
    /* background-color: greenyellow; */
}
.choose{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* background-color: khaki; */
    top: calc(50% - 250px);
    left: calc(50% + 100px) ;
    box-shadow: 0 0 5px 0 white,
                0 0 8px 0 rgb(202, 200, 200),
                0 0 20px 0 rgb(202, 200, 200);
    overflow: hidden;   
}
.hint1::before{
    display: block;
    content: '1';
    font-size: 0.8rem;
    margin-top: -10px;
    margin-left: -20px;
}
.hint2::before{
    display: block;
    content: '2';
    font-size: 0.8rem;
    margin-top: -10px;
    margin-left: -20px;
}
.hint3::before{
    display: block;
    content: '3';
    font-size: 0.8rem;
    margin-top: -10px;
    margin-left: -20px;
}
.hint4::before{
    display: block;
    content: '4';
    font-size: 0.8rem;
    margin-top: -10px;
    margin-left: -20px;
}
.box{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(18, 113, 221);
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    transition: .5s;
    color: rgb(245, 245, 245);
}
.q{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    cursor:grab;
    z-index: 999;
}
.hold{
    background-color: orange;
    border: 3px dashed black;  
}
.hovered{
    background-color: #e9a424;
    border: 1px dashed rgba(128, 128, 128, 0.582);
    transform: scale(2);
}
.invisible{
    display: none;
}
@keyframes bigger {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }  
}
button.hint{
    width: 50px;
    height: 200px;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
    color: rgb(224, 131, 8);
    cursor: pointer;
}
.table_hint{
    border-radius: 15px;
    width: 300px;
    height: 240px;
    background-color: rgb(192, 129, 12);
    position: absolute;
    top: 50px;
    right: -320px;
}
li{
    list-style-type: decimal;
    ;
    margin: 30px 30px;
    color: rgb(66, 36, 36);
}
@keyframes show {
    from{
        right: -350px;
    }
    to{
        right: 10px;
    }
}
@keyframes close {
    from{
        right: 10px;
    }
    to{
        right: -350px;
    }
}